.conteiner-registration {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 30px 15px 60px 15px;
  border-radius: 8px;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  grid-template-areas: "h1 h1"
                       "email email"
                       "firstName lastName"
                       "password confirmPassword"
                       "terms terms"
                       "registration registration"
}

.conteiner-registration h1 {
  grid-area: h1;
}

.input-email {
  grid-area: email;
}

.input-first-name {
  grid-area: firstName;
}

.input-last-name {
  grid-area: lastName;
}

.input-password {
  grid-area: password;
}

.input-confirm-password {
  grid-area: confirmPassword;
}

.input-radio {
  grid-area: terms;
  text-align: left;
}

.btn-registration {
  grid-area: registration; 
}

.input-email,
.input-first-name,
.input-last-name,
.input-password,
.input-confirm-password {
  display: flex;
  flex-direction: column;
  text-align: left;
}