form {
  display: flex;
  padding-top: 50px;
  margin-top: 100px;
  border-radius: 5px;
  width: 70vw;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  font-size: 20px;
  font-weight: 600;
}

input, select, button {
  display: block;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px
}

button {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgb(101, 142, 198)
  );
  width: 200px;
  border: solid 1px #1864ce;
}

select {
  background-color: white;
}

label {
  margin-left: 10px;
  color: #426696;
}

.conteiner-input {
  text-align: left;
}
